<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/82e1b613-ad57-429b-9c3a-1f164cbe2785/resourceGroups/BrianGroup/providers/Microsoft.Web/sites/GoodBookNook2</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://goodbooknook2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>goodbooknook2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GoodBookNook2</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GoodBookNook2</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>