
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <form method="post">
        <label for="title">Title</label>
        <input name="title" /><br />
        <label for="author">Author</label>
        <input name="author" /><br />
        <label for="pubDate">Publication Date</label>
        <input name="pubDate" /><br />
        <input type="submit" value="Enter" />
    </form>
</body>
</html>
