@model Book
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Books and Reviews</title>
</head>
<body>
    
        @Model.Title; <br />
        @Model.Author.Name; <br />
        @Model.PubDate; <br />
        <br />

    <br>
    <p>No reviews yet</p>
    <a href="AddBook">Add a book</a><br />
    <a href="/Home">Home</a>
</body>
</html>
