@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Books and Reviews</title>
</head>
<body>
    <p>No books or reviews yet</p>
    <a href="AddBook">Add a book</a><br />
    <a href="/Home">Home</a>
</body>
</html>
