@model List<Book>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Books and Reviews</title>
</head>
<body>
    List of books:
    @foreach (Book book in Model)
    {
        @book.Title; <br />
        @book.Authors[0].Name; <br />
        @book.PubDate; <br />
        <br />
        <b>Reviews</b><br />
        @foreach(Review r in book.Reviews)
        {
            @r.ReviewText <br />
        }
        <br />
    }
    <br>
    <p>No reviews yet</p>
    <a href="AddBook">Add a book</a><br />
    <a href="/Home">Home</a>
</body>
</html>
