@model List<Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    List of books:
    @foreach (Book book in Model)
    {
        @book.Title; <br />
        @book.Authors[0].Name; <br />
        @book.PubDate; <br />
        <br />
    }
    <br>
    <a href="AddBook">Add a book</a><br />
    <a href="/Home">Home</a>
    </body>
</html>
