@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Good Book Nook</h1>
    <h2>Welcome!</h2>
    <p>
    Have you read any good books lately? If you have, 
    <a href="/Book/AddBook">post a review!</a><br />
    Want to know what to read? 
    <a href="/Book/Index">Check out the reviews!</a>
</p>
<nav>
    <h2>Site Navigation:</h2>
    <a href="Home/About">About this site</a><br />
    <a href="/Book/Index">List of books and reviews</a><br />
    <a href="/Book/Authors">List of authors</a>
</nav>

</body>
</html>
